@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'lenis/dist/lenis.css';

* {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

html,
body {
	overflow-x: hidden;
}

p {
	@apply text-base md:text-base xl:text-sm 2xl:text-4xl leading-tight text-left;
}

h1 {
	@apply text-3xl md:text-4xl xl:text-3xl 2xl:text-8xl uppercase font-semibold leading-none tracking-tight;
}

h2 {
	@apply text-lg md:text-lg xl:text-xl 2xl:text-2xl uppercase font-medium leading-none tracking-tighter;
}

b {
	@apply font-medium;
}

i {
	@apply italic;
}

.main_container {
	@apply flex flex-col w-screen  overflow-clip place-self-center relative;
}

button,
a {
	@apply uppercase p-2 h-fit w-fit flex flex-row;
}

.generic_btn {
	@apply rounded-md border-solid border-[1.5] 2xl:border-[2.5] border-black items-center flex justify-center font-medium 2xl:font-normal transition-all duration-75 ease-in-out hover:invert-100 hover:saturate-0 hover:border-white;
}
