@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'lenis/dist/lenis.css';

* {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

html,
body {
	overflow-x: hidden;
}

p {
	@apply text-base md:text-base xl:text-sm 2xl:text-lg leading-tight text-left;
}

h1 {
	@apply text-3xl md:text-4xl xl:text-3xl 2xl:text-4xl font-semibold leading-none tracking-tight;
}

h2 {
	@apply text-lg md:text-lg xl:text-xl 2xl:text-2xl font-medium leading-none tracking-tighter;
}

b {
	@apply font-medium;
}

i {
	@apply italic;
}

.main_container {
	@apply flex flex-col w-screen overflow-clip place-self-center relative;
}

button,
a {
	@apply uppercase p-2 h-fit w-fit flex flex-row cursor-pointer! hover:cursor-pointer!;
}

.generic_btn {
	@apply rounded-md border-solid border-[1.5] border-black items-center flex justify-center font-medium 2xl:font-normal transition-all duration-75 ease-in-out hover:invert-100 hover:saturate-0 hover:border-white;
}

.project_page_container {
	@apply relative grid h-max grid-cols-[1fr_2fr_1fr] grid-rows-[auto_auto_auto] gap-5 gap-x-2.5 items-center py-[50px] px-[15px] w-full md:max-w-[90%] bg-transparent z-15;
}

.project_page_container > :first-child > * {
	@apply bg-[#f5f5f5];
	/* var(--primary-light) */
}

.info_container {
	@apply col-start-2 row-start-2 w-full h-fit overflow-y-scroll overflow-x-visible;
}

.media_cont {
	@apply col-start-2 row-start-3 relative flex flex-col items-center justify-center h-fit w-[80%] p-0 m-0;
}

.media_cont > :nth-child(1) {
	@apply order-2 self-start mix-blend-normal max-w-[90%] -mt-[26%] z-2;
}

@supports (mix-blend-mode: color-burn) {
	.media_cont > :nth-child(1) {
		@apply mix-blend-color-burn;
	}
}

.media_cont > :nth-child(2):hover {
	@apply z-10 mix-blend-normal;
}

.media_cont > :nth-child(2) {
	@apply order-1 self-end max-h-[90%] max-w-[90%] z-1;
}

@media (max-width: 768px) {
	.project_page_container {
		@apply flex flex-col w-full h-fit m-0 py-[30px] px-5 gap-y-5 overflow-scroll bg-transparent;
	}

	.media_cont {
		@apply w-full h-fit gap-y-5 static justify-start mb-[50px];
	}

	.media_cont > :nth-child(1),
	.media_cont > :nth-child(2) {
		@apply max-w-full transform-none order-0 mt-0;
	}
}
